<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheBlog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
   
    <div class="main_signup">
        
       
    <div style="padding: 5px;">
        <!-- <textarea name="dUser" id="" cols="60" rows="60"><%= {...dUser}%></textarea> -->
        <pre><%= dUser.name%></pre>
        <pre><%= dUser.email%></pre>
        <pre><%= dUser.secret_key%></pre>
        <pre><%= dUser.instruction%></pre>
        <!-- <%= dUser%> -->
           
    </div>
    <br><a href="/" class="special_links">Go home</a>
    
    </div>
    <script src="script.js"></script>
</body>
</html>